.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.productListEdit{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(26, 206, 26);
    cursor: pointer;
    margin-right: 20px;
    padding: 5px 15px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}